body{
    background-color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
}
.p1{
    font-size: 32px;
    text-align: center;
    margin-top: 8%;
}
.div-email input{
    display: flex;
    justify-content: center;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 100px;
    width: 40%;
    margin: auto;
    height: 25px;
    font-size: 16px;
    padding: 10px;
}
.div-email2 input{
    display: flex;
    justify-content: center;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 100px;
    width: 40%;
    margin: auto;
    height: 25px;
    font-size: 16px;
    padding: 10px;
}
.div-email2{
    margin-top: 30px;
}
.div-email{
    margin-top: 50px;
}
.check{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #535353;
    margin-left: 30%;
    margin-right: 30%;
}
div a{
    color: #535353;
    text-decoration: none;
}
button{
    border: none;
    background-color: #755EFC;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    width: 40%;
    margin: 20px auto;
    height: 45px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
button a{
    color: #FFFFFF;
    text-decoration: none;
}
.register{
    display: flex;
    justify-content: center;
    color: #535353;
}
@media (max-width :700px) {
    body{
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
    }
    .div-email input{
        display: flex;
        justify-content: center;
        border: none;
        border-width: 1px;
        border-style: solid;
        border-color: #D9D9D9;
        border-radius: 100px;
        width: 80%;
        margin: auto;
        height: 25px;
        font-size: 16px;
        padding: 10px;
    }
    .div-email2 input{
        display: flex;
        justify-content: center;
        border: none;
        border-width: 1px;
        border-style: solid;
        border-color: #D9D9D9;
        border-radius: 100px;
        width: 80%;
        margin: auto;
        height: 25px;
        font-size: 16px;
        padding: 10px;
    }
    .div-email2{
        margin-top: 30px;
    }
    .div-email{
        margin-top: 50px;
    }
    .check{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        color: #535353;
        margin-left: 10%;
        margin-right: 10%;
    }
    div a{
        color: #535353;
        text-decoration: none;
    }
    button{
        border: none;
        background-color: #755EFC;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 100px;
        width: 60%;
        margin: 20px auto;
        height: 45px;
        font-size: 16px;
        padding: 10px;
        cursor: pointer;
    }
}